/* MOBILE CSS */
@media only screen and (max-width: 768px) {
  /* Setting the margin of the entire page to be nothing so there is now white space around */
  * {
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }

  body {
  }

  /* for desktop */

  /* styling each div .section class to take the full height of the viewport, throughout the document */
  .section {
    width: 100%;
    height: 100vh;
  }

  /* Navbar styling */
  .nav-wrapper {
    width: 100%;
    position: fixed;
    z-index: 200;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 6vh auto;

    color: gray;
    justify-items: center;
    align-items: center;
  }

  .icon {
    font-size: 3vmin;
    color: gray;
    text-decoration: none;
    grid-column: 4/4;
  }

  .burger {
  }

  .logo img {
    max-height: 10vmin;
    max-width: 80%;
    transition: 0.5s;
    /* TO FOR WEBSITE */
    display: none;
  }

  /* Animation for smoothly fading in, used on burger menu expand and kims name+text loading */

  @keyframes smooth {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .smooth {
    animation: smooth 1s linear;
  }

  .smooth1s {
    animation: smooth 1s linear;
  }

  .smooth2s {
    animation: smooth 2s linear;
  }

  .smooth3s {
    animation: smooth 3s linear;
  }

  .slideInFade {
    animation: smooth 1.5s linear;
  }

  .smooth2 {
    animation: smooth 1.5s linear;
  }

  #products-link,
  #about-link,
  #contact-link {
    transition: 0.2s;
    display: none;
  }

  #products-link p,
  #about-link p,
  #contact-link p {
    font-size: 3vmin;
    color: white;
    padding-left: 5vmin;
    padding-right: 5vmin;
  }

  ul {
  }

  .nav-wrapper i {
    font-size: 3vmin;
    padding-left: 7vmin;
  }

  .white-border {
    border: 2px solid white;
    box-sizing: border-box;
  }

  /*the class added when the transition happens when the page is scrolled */

  .nav-wrapper.black {
    transition: 0.2s;
    background-color: #dbd9d9;
  }

  /* main grid MOBILE */

  /* Video section styling start */
  .video-section {
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  .video-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .video-container h1 {
    position: absolute;
    font-size: 12vmin;
    color: white;
    z-index: 20;
    width: 80vw;
    /* TO DO FOR WEBSITE */
    display: none;
  }

  .video-container p {
    position: absolute;
    font-size: 5vmin;
    padding-top: 30vmin;
    padding-rightcolor: white;
    z-index: 20;
    width: 80vw;
    /* TO DO FOR WEBSITE */
    display: none;
  }

  /* Width of the video must fill the entire div container size from above */
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-container .mobile-logo {
    position: absolute;
    z-index: 25;
    height: 200px;
    width: 200px;
  }

  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
    width: 100%;
    height: 100%;
  }

  /* Video section styling end */
  /* Second section styling start */
  .second-section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }

  .second-section h2 {
    font-size: 10vmin;
    margin: auto;
    z-index: 11;
    width: 70vw;
    font-weight: 200;
    font-family: "Noto Serif TC", serif;
  }

  .bold {
    font-weight: 600;
    font-family: "Noto Serif TC", serif;
  }

  .bold2 {
    font-weight: 600;
    font-family: "Noto Serif TC", serif;
  }

  .semi-bold {
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    font-size: 7vmin;
  }

  .color-overlay-white {
    position: absolute;
    background-color: white;
    opacity: 0.8;
    z-index: 10;
    width: 100%;
    height: 100%;
  }

  /* Second section styling end */

  /* MOBILE product information page styling start */
  #product-info-main {
    width: 80vw;
    overflow: hidden;
    margin: auto;
    display: grid;
    font-size: 5vmin;
    grid-row-gap: 10vmin;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title title title"
      "dimensions . collection"
      "materials materials ."
      "materials-images materials-images ."
      "reseller reseller ."
      "front-image front-image front-image"
      "description description description"
      "img1 img1 img1"
      "img2 img2 img2"
      "img3 img3 img3";
  }

  /* The div cotaining the material images */
  .product-materials-images {
    height: 15vmin;
    width: 100%;
  }

  #product-info-main .material1,
  .material2 {
    max-height: 100%;
    max-width: 100%;
    padding-right: 2vmin;
  }

  #product-info-main .front {
    height: 100%;
    width: 100%;
  }

  /* giving all the divs a grid-area */
  .product-title {
    grid-area: title;
    padding-top: 10vmin;
    line-height: 6.5vmin;
  }

  .product-title h1 {
    color: black;
    font-family: "Noto Serif TC", serif;
    font-size: 13vmin;
    font-weight: 200;
  }
  .product-year p {
    font-size: 3vmin;
  }
  .product-dimensions {
    grid-area: dimensions;
  }
  .product-collection {
    grid-area: collection;
  }
  .product-materials {
    grid-area: materials;
  }
  .product-materials-images {
    grid-area: materials-images;
  }

  .product-find-reseller {
    grid-area: reseller;

    color: black;
  }

  .product-find-reseller a {
    color: black;
  }

  .product-front-image {
    grid-area: front-image;
    justify-self: center;
  }

  .product-description {
    grid-area: description;
    line-height: 8vmin;
    color: black;
  }

  /* a paragraph proceeded by another paragraph will have a top margin */

  .product-description p + p {
    margin-top: 5vmin;
  }

  .product-extra-img-1 {
    grid-area: img1;
  }
  .product-extra-img-2 {
    grid-area: img2;
  }
  .product-extra-img-3 {
    grid-area: img3;
  }

  .product-extra-img-1 img,
  .product-extra-img-2 img,
  .product-extra-img-3 img {
    height: 100%;
    width: 100%;
  }

  /* setting colours of the text, headings black and captions grey */
  #product-info-main {
    color: #9d9d9d;
  }

  #product-info-main span {
    color: black;
  }

  /* parallax effect on quote section*/
  .parallax {
    background-color: #f5f5f5;
    /* The image used
    background-image: url("../images/desk-quote.png");
 */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Featured product section */
  .featured-product-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh;
    position: relative;
  }

  .featured-product-section a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 21;
  }
  /* Setting the background image to be a url, change later with JSON. */

  .featuredProductImage {
    height: 100%;
    width: 100%;
    position: relative;
    grid-column: 1/4;
  }

  .featuredProductImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  .featuredProductImage h2 {
    position: absolute;
    font-size: 15vmin;
    z-index: 20;
    top: 30%;
    left: 20%;
    color: white;
  }
  .featuredProductImage p {
    position: absolute;
    z-index: 20;
    font-size: 6vmin;
    top: 50%;
    left: 40%;
    color: white;
  }

  .featuredProductImage svg {
    position: absolute;
    z-index: 20;
    font-size: 5vmin;
    top: 49vmin;
    left: 10vmin;
  }

  /* Featured product video section */

  /* Product section styling start -- third section */
  .product-section {
    display: grid;
    height: auto;
    margin: auto;
  }

  .product-template-div {
    height: 33.33vh;
    width: 100vw;
    margin: auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-template-div h2 {
    color: white;
    z-index: 20;
    font-size: 14vmin;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
  }

  .product-template-div a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 21;
  }

  /*Product-section styling end -- third section */

  /* My story section */
  .about-me-section {
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-rows: 25vmin auto auto;
  }

  .about-me-section h2 {
    font-size: 10vmin;
    font-weight: 200;
    font-family: "Noto Serif TC", serif;
    align-self: center;
  }

  .about-me-img-div {
    width: 60vw;
  }

  .about-me-section img {
    width: 100%;
  }

  .about-me-text-div {
    width: 80vw;
    padding-top: 8vmin;
    padding-bottom: 8vmin;
  }

  .about-me-text-div p {
    font-size: 5vmin;
    line-height: 8vmin;
    width: 100%;
    font-family: "Open Sans", sans-serif;
  }

  .normal-bold {
    font-weight: 500;
  }

  /* IMPORTANT - HIDING ALL MOBILE CONTENT */
  .mobile {
    display: none;
  }

  /* TO DO COLLABORATING SECTION */

  /* Current Partners section */

  .current-partners-section {
    height: auto;
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: #dbd9d9;
    grid-row-gap: 10vmin;
    padding-top: 8vmin;
    padding-bottom: 10vmin;
  }

  .current-partners-section h2 {
    font-family: "Noto Serif TC", serif;
    font-size: 10vmin;
    font-weight: 200;
  }

  .current-partners-section img {
    max-height: 10vmin;
  }

  .frama-logo {
    height: 5vmin;
  }

  /* CURRENT PARTNERS SECTION END */
  /* BECOME A PRODUCER SECTION (LAST ONE) */
  .become-partner-section {
    background-color: #f5f5f5;
    height: auto;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .contact-block {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    width: 90vw;
    border: 1px solid black;
    height: 50vmin;
    align-items: center;
    justify-items: center;
    margin-bottom: 5vmin;
  }
  .contact-block p {
    font-size: 3vmin;
    line-height: 7vmin;
  }

  .contact-block-logo-div {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
  }

  .contact-block img {
    height: 15vmin;
    color: black;
  }

  .become-partner-section .condensed {
    font-family: "Open Sans", sans-serif;
    font-size: 5vmin;
    text-align: center;
    padding-top: 15vmin;
    font-weight: 500;
  }

  .become-partner-section .noto {
    font-family: "Noto Serif TC", serif;
    font-size: 6vmin;
    text-align: center;
    padding-bottom: 15vmin;
    font-weight: 700;
  }
  .become-partner-section i {
    font-size: 10vmin;
    margin-bottom: 10vmin;
  }

  .become-partner-section a {
    text-decoration: none;
    color: black;
  }

  /* From WEB that doesnt exist here */
  .about-me-back-img-div-mobile {
    display: none;
  }
  .about-me-front-img-div-mobile {
    display: none;
  }
}

.web-product-background-image {
  display: none;
}

.web-product-front-image {
  display: none;
}

.become-partner-section.web {
  display: none;
}

.become-partner-section.mobile {
  display: block;
}
