/* MOBILE CSS */

/* Setting the margin of the entire page to be nothing so there is now white space around */
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: Noto;
  src: url(fonts/NotoSerif-Regular.ttf);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* for desktop */

/* styling each div .section class to take the full height of the viewport, throughout the document */
.section {
  width: 100%;
  height: 35vh;
}

/* Navbar styling */
.nav-wrapper {
  width: 100vw;
  position: fixed;
  z-index: 200;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6vh auto;

  color: white;
  justify-items: center;
  align-items: center;
}

.icon {
  grid-column: 3 / 4;
  font-size: 3vmin;
  color: white;
  text-decoration: none;
}

.burger {
}

.logo img {
  max-height: 10vmin;
  max-width: 80%;
  transition: 0.5s;
}

/* Animation for smoothly fading in, used on burger menu expand and kims name+text loading */

@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

.smooth {
  animation: smooth 1s linear;
}

.slideInFade {
  animation: smooth 1.5s linear;
}

.smooth2 {
  animation: smooth 1.5s linear;
}

#products-link,
#about-link,
#contact-link {
  transition: 0.2s;
  display: none;
  margin-bottom: 2vmin;
}

#products-link p,
#about-link p,
#contact-link p {
  font-size: 3vmin;

  padding-left: 5vmin;
  padding-right: 5vmin;
}

ul {
}

.nav-wrapper ul li {
  list-style: none;
  margin-right: 20px;
  align-self: center;
}

.white-border {
  border: 2px solid white;
  box-sizing: border-box;
}

/*the class added when the transition happens when the page is scrolled */

.nav-wrapper.black {
  background: rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

/* main grid MOBILE */
#main-grid {
  width: 100vw;
  grid-template-columns: 1fr;
}

/* Video section styling start */
.video-section {
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.video-container h1 {
  position: absolute;
  font-size: 12vmin;
  color: white;
  z-index: 20;
}

.video-container p {
  position: absolute;
  font-size: 5vmin;
  padding-top: 20vmin;
  color: white;
  z-index: 20;
}

/* Width of the video must fill the entire div container size from above */
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 10;
  width: 100%;
  height: 100%;
}

/* Video section styling end */
/* Second section styling start */
.second-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section h2 {
  font-size: 5vmin;
}

/* Second section styling end */
/* Product section styling start -- third section */
.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-items: center;
}

/*Product-section styling end -- third section */

/* MOBILE product information page styling start */
#product-info-main {
  width: 80vw;
  overflow: hidden;
  margin: auto;
  display: grid;
  font-size: 5vmin;
  grid-row-gap: 10vmin;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title"
    "dimensions dimensions collection"
    "materials materials ."
    "materials-images materials-images ."
    "reseller reseller ."
    "front-image front-image front-image"
    "description description description"
    "img1 img1 img1"
    "img2 img2 img2"
    "img3 img3 img3";
}

#product-info-main div {
}

/* The div cotaining the material images */
.product-materials-images {
  height: 15vmin;
  width: 100%;
}

#product-info-main .material1,
.material2 {
  max-height: 100%;
  max-width: 100%;
  padding-right: 2vmin;
}

#product-info-main .front {
  height: 100%;
  width: 100%;
}

/* giving all the divs a grid-area */
.product-title {
  grid-area: title;
  padding-top: 10vmin;
  line-height: 6.5vmin;
}

.product-title h1 {
  color: black;
  font-family: Noto;
  font-size: 13vmin;
  font-weight: 200;
}
.product-year p {
  font-size: 3vmin;
}
.product-dimensions {
  grid-area: dimensions;
}
.product-collection {
  grid-area: collection;
}
.product-materials {
  grid-area: materials;
}
.product-materials-images {
  grid-area: materials-images;
}

.product-find-reseller {
  grid-area: reseller;

  color: black;
}

.product-find-reseller a {
  color: black;
}

.product-front-image {
  grid-area: front-image;
  justify-self: center;
}

.product-description {
  grid-area: description;
  line-height: 8vmin;
  color: black;
}

.product-extra-img-1 {
  grid-area: img1;
}
.product-extra-img-2 {
  grid-area: img2;
}
.product-extra-img-3 {
  grid-area: img3;
}

.product-extra-img-1 img,
.product-extra-img-2 img,
.product-extra-img-3 img {
  height: 100%;
  width: 100%;
}

/* setting colours of the text, headings black and captions grey */
#product-info-main {
  color: #9d9d9d;
}

#product-info-main span {
  color: black;
}

/* parallax effect */
.parallax {
  /* The image used */
  background-image: url("../images/shelf.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
