@media only screen and (min-width: 768px) {
  /* WEB CSS */

  /* Setting the margin of the entire page to be nothing so there is now white space around */
  * {
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }

  body {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
  }
  main {
  }

  /* for desktop */

  /* styling each div .section class to take the full height of the viewport, throughout the document */
  .section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
  }

  /* Navbar styling

  .nav-wrapper {
    width: 100%;
    position: fixed;
    z-index: 200;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6vh auto;

    color: gray;
    justify-items: center;
    align-items: center;
  }

  .icon {
    font-size: 3vmin;
    color: gray;
    text-decoration: none;
    grid-column: 4/4;
    display: none;
  }

  .burger {
  }

  */

  /* Animation for smoothly fading in, used on burger menu expand and kims name+text loading */

  @keyframes smooth {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Fade out */
  @keyframes smoothOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .smoothOut {
    animation: smoothOut 0.5s forwards;
  }

  .smoothIn {
    animation: smooth 0.5s forwards;
  }

  .smooth {
    animation: smooth 1s forwards;
  }

  .smooth1s {
    animation: smooth 1s linear;
  }

  .smooth2s {
    animation: smooth 2s linear;
  }

  .smooth3s {
    animation: smooth 3s linear;
  }

  .slideInFade {
    animation: smooth 1.5s linear;
  }

  .smooth2 {
    animation: smooth 1.5s linear;
  }

  .nav-wrapper {
    width: 100%;
    column-gap: 2vmin;
    position: absolute;
    padding-top: 3vmin;
    z-index: 200;
    display: grid;
    grid-template-columns: 2fr 0.4fr 0.4fr 0.4fr;
    grid-template-rows: 6vh;

    align-items: center;

    /* the rest of your styling */
  }

  .icon {
    font-size: 3vmin;
    color: gray;
    text-decoration: none;
    grid-column: 4/4;
    display: none;
  }

  .burger {
  }

  .logo img {
    max-height: 10vmin;
    max-width: 80%;
    transition: 0.5s;
    /* TO FOR WEBSITE */
    display: none;
  }

  #products-link,
  #about-link,
  #contact-link {
    transition: 0.2s;
    display: block;
    text-align: center;
  }

  #products-link {
    grid-column: 2/2;
  }

  #products-link p,
  #about-link p,
  #contact-link p {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    font-size: 3vmin;
    width: 20vmin;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
  }
  #products-link p:hover,
  #about-link p:hover,
  #contact-link p:hover {
    color: #b2b0a9;
  }

  ul {
  }

  .nav-wrapper i {
    font-size: 3vmin;
  }

  .white-border {
    border: 2px solid white;
    box-sizing: border-box;
  }

  /*the class added when the transition happens when the page is scrolled */

  /* main grid MOBILE */

  /* Video section styling start */
  .video-section {
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    scroll-snap-align: start;
  }

  .video-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .video-container h1 {
    position: absolute;
    font-size: 12vmin;
    color: white;
    z-index: 20;
    width: 80vw;
    /* TO DO FOR WEBSITE */
    display: none;
  }

  .video-container p {
    position: absolute;
    font-size: 5vmin;
    padding-top: 30vmin;
    padding-rightcolor: white;
    z-index: 20;
    width: 80vw;
    /* TO DO FOR WEBSITE */
    display: none;
  }

  /* Width of the video must fill the entire div container size from above */
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-container .mobile-logo {
    position: absolute;
    z-index: 25;
    height: 200px;
    width: 200px;
  }

  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
    width: 100%;
    height: 100%;
  }

  /* Video section styling end */
  /* Second section styling start */
  .second-section {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    position: relative;
    align-items: center;
    justify-items: center;
    height: 100vh;
    scroll-snap-align: start;
  }

  .second-section h2 {
    font-size: 4.2vmin;
    margin: auto;
    z-index: 11;
    width: 80%;
    font-weight: 200;
    font-family: "Noto Serif TC", serif;
  }

  .bold {
    font-weight: 600;
    font-family: "Noto Serif TC", serif;
  }

  .bold2 {
    font-weight: 600;
    font-family: "Noto Serif TC", serif;
  }

  .semi-bold {
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    font-size: 3vmin;
  }

  .color-overlay-white {
    position: absolute;
    background-color: white;
    opacity: 0.8;
    z-index: 10;
    width: 100%;
    height: 100%;
  }

  /* Second section styling end */
  /* web grid start */
  .web-product-background-image {
    grid-area: web-images;
    display: block;
    position: relative;
    width: 100%;
  }
  .web-product-background-image img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    display: block;
    position: fixed;
  }

  .web-product-front-image {
    z-index: 50;
    display: block;
    left: -22%;
    top: 22%;

    position: absolute;
  }

  .web-product-front-image img {
    object-position: center;
    height: 50%;
  }

  /* Hiding mobile ver front image */
  .product-front-image {
    display: none;
  }

  /* MOBILE product information page styling start */
  #product-info-main {
    width: 100%;
    overflow: hidden;
    margin: auto;
    display: grid;
    font-size: 2.3vmin;
    grid-template-columns: 0.5fr 1fr 1fr 2fr 0.5fr 2.8fr;
    grid-template-rows: 40vh 15vh 15vh 15vh 15vh auto;
    grid-template-areas:
      ". title title title . web-images"
      ". dimensions dimensions collection . web-images"
      ". materials materials . . web-images"
      ". materials-images materials-images . . web-images"
      ". reseller reseller . . web-images"
      ". description description description  . ."
      ". img1 img1 img1 . ."
      ". img2 img2 img2 . ."
      ". img3 img3 img3 . ."
      "become-partner-section become-partner-section become-partner-section become-partner-section  become-partner-section . ";
  }

  /* The div cotaining the material images */
  .product-materials-images {
    height: 10vmin;
    width: 100%;
  }

  #product-info-main .material1,
  .material2 {
    max-height: 100%;
    max-width: 100%;
    padding-right: 2vmin;
  }

  #product-info-main .front {
    height: 100%;
    width: 100%;
  }

  /* giving all the divs a grid-area */
  .product-title {
    grid-area: title;
    padding-top: 10vmin;
    line-height: 6.5vmin;
  }

  .product-title h1 {
    color: black;
    font-family: "Noto Serif TC", serif;
    font-size: 10vmin;
    font-weight: 200;
  }
  .product-year {
    font-size: 4vmin;
  }
  .product-dimensions {
    grid-area: dimensions;
  }
  .product-collection {
    grid-area: collection;
  }
  .product-materials {
    grid-area: materials;
  }
  .product-materials-images {
    grid-area: materials-images;
  }

  .product-find-reseller {
    grid-area: reseller;

    color: black;
  }

  .product-find-reseller a {
    color: black;
  }

  .product-front-image {
    grid-area: front-image;
    justify-self: center;
  }

  .product-description {
    grid-area: description;
    line-height: 4vmin;
    color: black;
  }

  /* a paragraph proceeded by another paragraph will have a top margin */

  .product-description p + p {
    margin-top: 5vmin;
  }

  .product-extra-img-1 {
    grid-area: img1;
    margin-top: 5vmin;
  }
  .product-extra-img-2 {
    grid-area: img2;
    margin-top: 5vmin;
  }
  .product-extra-img-3 {
    grid-area: img3;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
  }

  .product-extra-img-1 img,
  .product-extra-img-2 img,
  .product-extra-img-3 img {
    height: 100%;
    width: 100%;
  }

  /* setting colours of the text, headings black and captions grey */
  #product-info-main {
    color: #9d9d9d;
  }

  #product-info-main span {
    color: black;
  }

  /* parallax effect on quote section*/
  .parallax {
    background-color: #f5f5f5;
    /* The image used
    background-image: url("../images/desk-quote.png");
 */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Featured product section */
  .featured-product-section {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh;
    scroll-snap-align: start;
    position: relative;
  }

  .featured-product-section a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 21;
  }
  /* Setting the background image to be a url, change later with JSON. */

  .featuredProductImage {
    height: 100%;
    width: 100%;
    position: relative;
    grid-column: 1/3;
  }

  .featuredProductImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  .featuredProductImage h2 {
    position: absolute;
    font-size: 15vmin;
    z-index: 20;
    top: 25%;
    left: 20%;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
  }
  .featuredProductImage p {
    position: absolute;
    z-index: 20;
    font-size: 4.2vmin;
    top: 55%;
    left: 55%;
    color: white;
  }

  .featuredProductImage svg {
    position: absolute;
    z-index: 20;
    font-size: 5vmin;
    top: 61%;
    left: 30%;
  }

  /* Featured product video section */

  /* Product section styling start -- third section */
  .product-section {
    display: grid;
    height: auto;
    margin: auto;
    grid-row-gap: 2vmin;
    grid-template-columns: 1fr 1fr 1fr;
    scroll-snap-align: start;
  }

  .product-template-div {
    height: 50vh;
    width: 100%;
    margin: auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-template-div h2 {
    color: white;
    z-index: 20;
    font-size: 10vmin;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
  }

  .product-template-div a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 21;
  }

  /*Product-section styling end -- third section */

  /* My story section */
  .about-me-section {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 30% 70%;
    grid-template-areas:
      "heading image"
      "text image";
    justify-items: center;
    scroll-snap-align: start;
  }

  .about-me-section h2 {
    margin-left: -10%;
    width: 70%;
    font-size: 8vmin;
    font-weight: 200;
    font-family: "Noto Serif TC", serif;
    align-self: center;
    grid-area: heading;
  }

  .about-me-img-div {
    width: 100%;
    height: 100%;
    grid-area: image;
    /*mobile display none */
    display: none;
  }

  .about-me-section img {
    height: 100%;
  }

  .about-me-back-img-div-mobile {
    grid-area: image;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .about-me-back-img-div-mobile img {
    object-fit: cover;
    width: 100%;
  }

  .about-me-front-img-div-mobile {
    position: absolute;

    top: 20%;
    left: -25%;
    /*
    top: 150px;
    left: -110px;
    */
    width: 60%;
    height: 60%;
  }
  .about-me-front-img-div-mobile img {
    object-fit: contain;
  }

  .about-me-text-div {
    width: 70%;
    height: 100%;
    grid-area: text;
    margin-left: -10%;
    display: flex;
  }

  .about-me-text-div p {
    font-size: 2vmin;
    line-height: 4vmin;
    width: 100%;

    font-family: "Open Sans", sans-serif;
  }

  .normal-bold {
    font-weight: 700;
  }

  /* IMPORTANT - HIDING ALL MOBILE CONTENT */
  .mobile {
    display: block;
  }

  .web {
    display: none;
  }

  /* TO DO COLLABORATING SECTION */

  /* Current Partners section */

  .current-partners-section {
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 70%;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: #dbd9d9;
    grid-row-gap: 0;
    scroll-snap-align: start;
  }

  .current-partners-section h2 {
    font-family: "Noto Serif TC", serif;
    font-size: 6vmin;
    font-weight: 200;
    grid-column: 1/4;
    margin-top: 5vmin;
  }

  .current-partners-section img {
    max-height: 10vmin;
    margin-bottom: 10vmin;
  }

  .frama-logo {
    height: 5vmin;
  }

  /* CURRENT PARTNERS SECTION END */
  /* BECOME A PRODUCER SECTION (LAST ONE) */
  .become-partner-section {
    background-color: #f5f5f5;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    scroll-snap-align: start;
    grid-area: become-partner-section;
    width: 100%;
  }

  .contact-block {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    width: 90%;
    border: 1px solid black;
    height: 50vmin;
    align-items: center;
    justify-items: center;
  }
  .contact-block p {
    font-size: 3vmin;
    line-height: 7vmin;
  }

  .contact-block-logo-div {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
  }

  .contact-block img {
    height: 15vmin;
    color: black;
  }

  .become-partner-section .condensed {
    font-family: "Open Sans", sans-serif;
    font-size: 3vmin;
    align-self: end;
    text-align: center;
    font-weight: 500;
  }

  .become-partner-section .noto {
    font-family: "Noto Serif TC", serif;
    font-size: 4vmin;
    text-align: center;
    font-weight: 700;
  }
  .become-partner-section i {
    font-size: 5vmin;
  }

  .become-partner-section a {
    text-decoration: none;
    color: black;
  }

  /*Product-section styling end -- third section */
  /* Hiding mobile version product partner */
  .become-partner-section.mobile {
    display: none;
  }
  .become-partner-section.web {
    display: grid;
  }

  /* Scroll to top button */
  .scroll-to-top-button {
    position: fixed;
    z-index: 500;
    top: 93vh;
    left: 94vw;
    height: 5vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scroll-to-top-button i {
    color: black;
    font-size: 5vmin;
    cursor: pointer;
    opacity: 0.3;
  }
  .scroll-to-top-button i:hover {
    font-size: 5.5vmin;
    transition: 0.3s;
  }
}
